{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="">
{% endblock%}
{% block title %}
globalsupply
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/index.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/back-top.js' %}"></script>
{% endblock %}
{% block clear %}{% endblock%}
{% block contenido %}
	<section class="bannerPrincipal">
		<h1>{% trans 'Servicio, Confianza y Satisfacción' %}</h1>
		<div class="wrapper banner1">
		</div>
	</section>
	<section class="emailSuscribir">
		<div class="wrapper">
			<label>{% trans 'Subcribir correo:' %}</label>
			<input>
			<input type="submit">
		</div>
	</section>
	<section class="productos">
		<div class="wrapper">
			<div class="tituloSection">
				<h6>Global Supply</h6>
				<h2>{% trans 'Productos' %}</h2>
			</div>
			<div class="descripcionIndex">
				<p>Texto</p>
			</div>
			<div class="listaProductos">
				productos recientes.
				<ul class="listaItem">
					<li class="item">
						<img src="{% static 'img/ejemplo1.png' %}" alt="imagen blabla">
						<div class="descripItem">
							<div class="marcaItem">Marca: Toyota</div>
							<div class="tituloItem">Soporte tras de motor Corolla 2000/2004</div>
						</div>
					</li>
					<li class="item">
						<img src="{% static 'img/ejemplo1.png' %}" alt="imagen blabla">
						<div class="descripItem">
							<div class="marcaItem">Marca: Toyota</div>
							<div class="tituloItem">Soporte tras de motor Corolla 2000/2004</div>
						</div>
					</li>
					<li class="item">
						<img src="{% static 'img/ejemplo1.png' %}" alt="imagen blabla">
						<div class="descripItem">
							<div class="marcaItem">Marca: Toyota</div>
							<div class="tituloItem">Soporte tras de motor Corolla 2000/2004</div>
						</div>
					</li>
				</ul>
				<div class="verProductos">{% trans 'Ver todos los productos' %}</div>
			</div>
		</div>
	</section>
	<section class="marcas">
		<div class="wrapper">
			<div class="tituloSection">
				<h6>Global Supply</h6>
				<h2>{% trans 'Marcas' %}</h2>
			</div>
			<div class="listaMarcas">
				<ul>
					<li>Marca1</li>
					<li>Marca2</li>
					<li>Marca3</li>
					<!-- 5 marcas quizás -->
				</ul>
			</div>
		</div>
	</section>
	<section class="noticias">
		<div class="wrapper">
			<div class="tituloSection">
				<h6>Global Supply</h6>
				<h2>{% trans 'Últimas noticias' %}</h2>
			</div>
			<div class="listaNoticias">
				<ul>
					<li>
						<div class="tituloNoticia">Prueba de texto título</div>
						<img src="{% static 'img/ejemplo1.png' %}" alt="imagen blabla">
						<div class="descripNoticia">
							<p>Descripción de la noticia del blog, este texto va debajo de la imagen.</p>
						</div>
						<div class="botonLeermas">{% trans 'Leer más' %}</div>
					</li>
					<li>
						<div class="tituloNoticia">Prueba de texto título</div>
						<img src="{% static 'img/ejemplo1.png' %}" alt="imagen blabla">
						<div class="descripNoticia">
							<p>Descripción de la noticia del blog, este texto va debajo de la imagen.</p>
						</div>
						<div class="botonLeermas">{% trans 'Leer más' %}</div>
					</li>
					<li>
						<div class="tituloNoticia">Prueba de texto título</div>
						<img src="{% static 'img/ejemplo1.png' %}" alt="imagen blabla">
						<div class="descripNoticia">
							<p>Descripción de la noticia del blog, este texto va debajo de la imagen.</p>
						</div>
						<div class="botonLeermas">{% trans 'Leer más' %}</div>
					</li>
				</ul>
			</div>
			<div class="verNoticias">{% trans 'Ver todas las noticias' %}</div>
		</div>
	</section>	
	<!-- BACK TOP BOX -->
	<div id="back-top" class="back-top">
		<a href="#home"><span>↑</span>{% trans 'Regresar arriba' %}</a>
	</div>
{% endblock%}
