{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="">
{% endblock%}
{% block title %}
Global Supply - Página de inicio
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/homepage/index.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/back-top.js' %}"></script>
{% endblock %}
{% block clear %}{% endblock%}
{% block contenido %}
	<section class="bannerPrincipal">
		<h1>{% trans 'Servicio, Confianza y Satisfacción' %}</h1>
		<div class="wrapper banner1">
		</div>
	</section>
	<section class="emailSuscribir">
		<div class="wrapper">
			<form class="suscripcionForm" action="#correo" method="POST">{% csrf_token %}
				{% if newsletter %}
				<div class="correo">
					{{ form.subject.errors }}
					<label for="id_email">{% trans 'Correo Electrónico:' %}</label>
					{{ form.correo }}
					<input type="submit">
				</div>
				{% else %}
				<div class="correo">
					{% trans '¡GRACIAS POR SUSCRIBIRTE A NUESTRO BOLETINES E INFORMACIÓN!' %}
				</div>
				{% endif %}
			</form>
		</div>
	</section>
	<section class="productos">
		<div class="wrapper">
			<div class="tituloSection">
				<h6>Global Supply</h6>
				<h2>{% trans 'Productos' %}</h2>
			</div>
			<div class="descripcionIndex">
				<p>Texto</p>
			</div>
			<div class="listaProductos">
				<ul class="listaItem">
					{% for p in productos %}
					<li class="item">
						<a href="{{ p.get_absolute_url }}">
							<img src="{{ MEDIA_URL }}/{{ imagenes|getimagen:p.id}}" alt="{{p.titulo}} imagen"/>
							<div class="descripItem">
								<div class="marcaItem">Marca: {{p.tipo.categoria}}</div>
								<div class="tituloItem">{{p.titulo}}</div>
							</div>
						</a>
					</li>
					{% endfor %}					
				</ul>
				<div class="verProductos"><a href="{% url 'categoria' %}">{% trans 'Ver marcas de productos' %}</a></div>
			</div>
		</div>
	</section>
	<section class="marcas">
		<div class="wrapper">
			<div class="tituloSection">
				<h6>Global Supply</h6>
				<h2>{% trans 'Marcas' %}</h2>
			</div>
			<div class="listaMarcas">
				<ul>
					{% for c in categoria %}
						<li><a href="{{c.get_absolute_url}}"><img src="{{ MEDIA_URL }}/{{c.imagen}}"></a></li>
					{% endfor %}
					<!-- 5 marcas quizás -->
				</ul>
			</div>
		</div>
	</section>
	<section class="noticias">
		<div class="wrapper">
			<div class="tituloSection">
				<h6>Global Supply</h6>
				<h2>{% trans 'Últimas noticias' %}</h2>
			</div>
			<div class="listaNoticias">
				<ul>
					{% for item in entradas %}
					<li>
						<div class="tituloNoticia">{{ item.title }}</div>
						<img src="{{ MEDIA_URL }}{{item.image}}" alt="{{ item.title }}">
						<div class="descripNoticia">
							{% autoescape off %}
							<p>{{item.content}}...</p>
							{% endautoescape %}
						</div>
						<div class="botonLeermas"><a href="{{ item.get_absolute_url }}">{% trans 'Leer más' %}</a></div>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="verNoticias"><a href="/blog">{% trans 'Ver todas las noticias' %}</a></div>
		</div>
	</section>	
	<!-- BACK TOP BOX -->
	<div id="back-top" class="back-top">
		<a href="#home"><span>↑</span>{% trans 'Regresar arriba' %}</a>
	</div>
{% endblock%}
