@charset 'utf-8';
body{
	background: url(../../img/textura.png);
	margin: 0;
	height: auto;
}
/*.wrapper{
	padding: 0;
}*/
h1{
	font-size: 3.5em;
	color: #0A77BD;
	display: inline-block;
	border-top: 1px solid #0A77BD;
	line-height: 1em;
	margin: 10px 0;
	width: 100%;
	padding-top: 10px;
	text-align: center;
}
.textoDerecha{
	display: inline-block;
	width: 50%;
	line-height: 1.5em;
}
.imagenRuta, .imagenMuestras{
	display: inline-block;
	width: 49%
}
.imagenRuta img, .imagenMuestras img{
	width: 100%;
}
.repuestosMarcasPesados, .repuestosMarcasLivianos{
	padding: 1em;
	margin: 1em 0;
	text-align: center;
	/*background: rgba(207, 207, 207, 0.6);*/
	background: #CFCFCF;
	position: relative;
}
.repuestosMarcasPesados ul, .repuestosMarcasLivianos ul{
	margin: 0;
	padding: 0;
}
.repuestosMarcasPesados ul li, .repuestosMarcasLivianos li{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	color: #0A77BD;
	font-weight: bold;
}
.repuestosMarcasPesados::before{
	content: "";
	background: url(../../img/camion.png) no-repeat;
	width: 127px;
	height: 56px;
	position: absolute;
	right: -39px;
	top: 0;
}
.repuestosMarcasLivianos::after{
	content: "";
	background: url(../../img/carro.png) no-repeat;
	width: 127px;
	height: 56px;
	position: absolute;
	top: 0;
	left: -85px;
}
.texto{
	text-align: justify;
}
.textoIzquierda{
	display: inline-block;
	vertical-align: top;
	width: 49%;
	margin-top: 25px;
	line-height: 1.5em;
}
.historia h2{
	font-size: 3em;
	color: #0A77BD;
	display: inline-block;
	border-top: 1px solid #0A77BD;
	line-height: 1em;
	margin: 0;
}
p{
	margin: 0;
	text-align: justify;
}

@media screen and (max-width: 1020px){

}

@media screen and (max-width: 650px){
	.textoDerecha, .textoIzquierda{
		width: 98%;
		padding: 1%
	}
	.imagenRuta, .imagenMuestras{
		display: none;
	}
	.repuestosMarcasLivianos::after, .repuestosMarcasPesados::before {
		background: none
	}
}

@media screen and (max-width: 450px){

}