@charset 'utf-8';
body{
	background: url(../../img/textura.png);
}
h1{
	font-size: 2em;
	margin-right: 0;
	margin-bottom: 0;
	width: 23%;
	padding-left: 60%;
	color: #000;
	text-align: center;
}
.flex-direction-nav{
	display: none;
}
.cabecera{
	margin-bottom: 80px;
}
.cabecera, .contenido{
	position: relative;
	z-index: 11;
}
.banner1{
	position: relative;
	height: 250px;
}
.backgroundImg{
	background: url(../../img/backgroundindex.png) no-repeat center;
	width: 100%;
	height: 600px;
	position: absolute;
}
.tituloSection{
	color: #0A77BD;
	display: inline-block;
}
.tituloSection h2{
	font-size: 4em;
	border-top: 1px solid #0A77BD;
	display: inline;
	padding-top: 5px;
}
.tituloSection h6{
	font-size: 1.4em;
	margin: 0;
	margin-bottom: 10px;
}
.emailSuscribir{
	background: #A7A9AC url(../../img/caucho.png) no-repeat right;
	color: #FFF;
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: 'Muli';
}
label{
	font-weight: bold;
}
input{
	border: none;
	padding: .5em 1em;
}
input[type='submit']{
	background: #808080;
	border: none;
	color: #FFF;
	padding: .5em 1em;
}
.descripcionIndex{
	display: inline-block;
}
.productos{
	background: #dddddf;
}
.listaItem{
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
}
.item{
	display: inline-block;
	width: 31%;
	margin: 10px .5%;
	padding: 0 .5%;
	vertical-align: top;
}
.item a{
	text-decoration: none;
}
.item img{
	width: 100%;
	margin: 0;
	padding: 0;
	height: 250px;
	display: block;
	text-decoration: none;
}
.descripItem{
	background: #0A77BD;
	min-height: 68px;
	text-decoration: none;
}
.marcaItem, .tituloItem{
	display: inline-block;
	width: 38.5%;
	vertical-align: top;
	color: white;
	text-align: center;
	padding: 1em;
	text-decoration: none;
}
.marcas{
	background: url(../../img/marcasfondo.png) no-repeat;
	background-size: 100% 100%;
	color: white;
}
.marcas h6, .marcas h2{
	color: white;
}
.marcas .tituloSection h2 {
	border-top: 1px solid white;
}
.listaMarcas ul{
	margin: 0;
	padding: 0;
}
.listaMarcas ul li{
	display: inline-block;
	width: 19%;
}
.listaMarcas img{
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
.noticias{
	background: url(../../img/texturablog.png);
}
.listaNoticias ul li{
	width: 30%;
	padding: 1% 1%;
	margin: 0 5px;
	display: inline-block;
	text-align: right;
	background: #e0e0e0;
	vertical-align: top;
}
.tituloNoticia{
	text-align: center;
	color: #0A77BD;
	font-size: 1.4em;
}
.listaNoticias li img{
	width: 100%;
}
.descripNoticia{
	text-align: justify;
}
.botonLeermas{
	background: #0f77be;
	color: white;
	display: inline-block;
	padding: 5px;
}
.botonLeermas a{
	text-decoration: none;
	color: white;
}
.verNoticias, .verProductos{
	padding: .5em;
	font-size: 1.5em;
	background: #a7a9ac;
	color: #FFF;
	margin: 0 auto;
	width: 29%;
	text-align: center;
}
.verNoticias a, .verProductos a{
	text-decoration: none;
	color: white;
}

@media screen and (max-width: 1020px){
	.wrapper{
		width: 100%;
	}
	h1{
		width: 100%;
		padding-left: 0;
	}
	.flexslider .slides {
		position: static !important;
	}
	.flexslider .slides img {
		width: 425px !important;
		height: auto !important;
		position: static !important;
		left: 30% !important;
	}
	.flexslider .slides > li {
		text-align: center;
	}
	.flex-caption {
		position: static;
		width: 100%;
		padding: 0;
	}
	.clear{
		clear: both;
	}
	.backgroundImg{
		display: none;
	}
	.listaMarcas ul li {
		width: 30%;
		padding: 0 1%;
	}
}

@media screen and (max-width: 650px){
	.item{
		width: 47%;
	}
	.tituloSection h2 {
		font-size: 3em;
	}
	.emailSuscribir {
		background: #A7A9AC;
	}
}

@media screen and (max-width: 450px){
	.item{
		width: 97%;
	}
	.tituloSection h2 {
		font-size: 1.8em;
	}
	.verNoticias, .verProductos {
		width: 55%;
	}
	.listaNoticias ul{
		padding: 0;
	}
	.listaNoticias ul li {
		width: 97%;
		margin: 0;
	}
	.flexslider .slides img {
		width: 100% !important;
	}
	.flex-caption{
		height: 250px;
	}
	.flex-control-nav {
		top: 0;
	}
	.listaMarcas ul li {
		width: 97%;
		padding: 0 1%;
	}
}