{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head %} 
<meta name="description" content="*">
{% endblock%}
{% block title %}
{% trans 'Categorías de servicios y productos - Global Supply' %}
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/productos/categoria.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/adquiridos/back-top.js' %}"></script>
{% endblock %}
{% block contenido %}
<section class="serviciosProductos">
	<div class="wrapper">
		<section class="headerServicios">
			<div class="tituloAzul"><h1>{% trans 'Marcas' %}</h1></div>
			<div class="textoHeaderServicios">
				<div class="textoinicio"><p>{% trans 'Eliga la categoría en la que desea buscar los productos disponibles.' %}</p></div>
			</div>
		</section>
		<section class="contenidoServicios">
			<form class="busquedabox" action="." method="POST">	{% csrf_token %}
				<input class="textbuscar" type="text" name="busqueda">
				<input class="botonbuscar" type="submit" value="Buscar">
			</form>
			<a href="{% url 'productobusqueda' %}" class="busquedalink">{% trans 'Búsqueda avanzada' %}</a>
			<!-- Area of products -->
			{% if mensaje %}
			<div class="mensajebusqueda">{{mensaje}},
				<a href="{% url 'categoria' %}">{% trans 'Ver todas las marcas ' %}</a>
			</div> 
			{% else %}

			<div class="listaProductos">
				{% include page_template %}
				<script src="http://code.jquery.com/jquery-latest.js"></script>
				<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
				<script>
					$.endlessPaginate({
						paginateOnScroll: true,
						paginateOnScrollMargin: 200
					});
				</script>
			</div>
		</section>
	</div>
	{% endif %}
</section>
{% endblock %}