{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_filters %}
{% block head %} 
<meta name="description" content="Producto {{producto.titulo}} disponible por la empresa Activa24 C.A.">
<meta name="msvalidate.01" content="5C0D61EB459CD0F5B9245FEA8F798DAA" />
{% endblock%}
{% block title %}
Producto {{ producto.titulo }} - Activa24 C.A.
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/productos/producto.css' %}">
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
{% endblock %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{% static 'js/adquiridos/jquery.flexslider-min.js' %}"></script>
{% endblock %}
{% block contenido %}
<section class="producto">
	<div class="wrapper">
		<a class="back-link" href="{{producto.tipo.get_absolute_url}}">«Volver</a>				
		<section class="cuadro">	
				<div class="derecha">
				<div class="sliderimagenes">
					<div class="flexslider">
						<ul class="slides">
						{% if imagenes %}
						{% for img in imagenes %}
							<li  data-thumb="{{ MEDIA_URL }}/{{img.imagen}}"><img src="{{ MEDIA_URL }}/{{img.imagen}}" alt="{{img.titulo}}"></li>
						{% endfor %}
						{% endif %}
						</ul>
					</div>
				</div>
			</div>
			<div class="izquierda">
				<h2 class="tituloh2">{{ producto.titulo }}</h2>
				<div class="contenedorInfo">
					<div class="codigo">
						<div class="codigotext">{% trans 'Código:' %}</div>
						<div class="codigoproducto">{{ producto.codigo }}</div>
					</div>	
					{% if producto.disponible %}
						<div class="precio">
							<div class="preciotext">{% trans 'Precio:' %}</div>
							<div class="numeroprecio">{{producto.precio}}Bs.</div>
						</div><!-- Cambiar esto con un templatetag -->
						<div class="tipo">
							<div class="tipotext">{% trans 'Tipo:' %}</div>
							<a href="{{ producto.tipo.get_absolute_url }}">{{ producto.tipo }}</a></div>
						<div class="existencia">
							<div class="existenciatext">Existencia:</div>
							{{producto.existencia}}
						</div>
					{% else %}
						<h3>Precio: <div class="precioTachado">{{ producto.precio }} Bs.</div><div class="nodisponible">Producto no disponible</div></h3>
						<div class="tipo">Tipo: <a href="#">{{ producto.tipo }}</a></div>						
					{% endif %}
				</div>
				<div class="mini">
					{{ producto.descripcion_corta }}
				</div>	
				<h3>Descripción</h3>
			{% autoescape off %}
				{{ producto.descripcion }}
			{% endautoescape %}				
				</div>	
		</section>
		<div class="face">
		<div class="fb-comments" data-href="http://www.activa24ca.com{{ request.path }}" data-width="960" data-num-posts="10"></div>
		</div>
	</div>
		<!-- SLIDER INIT -->
	<script>
		$(window).load(function() {
			$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	</script>

</section>
		</div>
<!-- FACEBOOK SCRIPT -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}