{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>
<!--[if lt IE 8]><script type="text/javascript" src="{{ STATIC_URL }}js/adquiridos/ie6-not-supported.js" ></script><![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta name="keywords" content="">
<meta name="author" content="Global Supply c.a.">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
{% block head %} {% endblock%}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
<title>{% block title %} {% endblock%}</title>
<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
</head>
<body>
	{% block background %}
	{% endblock %}
	<!-- Analytics SCRIPT GOOGLE! -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57492585-1', 'auto');
  ga('send', 'pageview');

</script>
	<header id="home" class="cabecera">
		<div class="barraAzul">
			<div class="wrapperBarraAzul">
				<!-- Redes sociales -->
				<div class="redesSociales">
					<a href="https://twitter.com/*" rel="nofollow"><div class="twitterlogo"></div></a>
					<a href="https://www.facebook.com/globalsupplyexport" rel="nofollow"><div class="facebook"></div></a>
					<a href="http://instagram.com/*" rel="nofollow"><div class="skype"></div></a>
					<a href="https://plus.google.com/114242158821437415395/" rel="nofollow"><div class="googleplus"></div></a>
				</div>
				<!-- Formulario para cambiar idioma -->
				<div class="idioma">
				{% trans 'Idioma:' %}
				<form action="/i18n/setlang/" method="post" style="display: inline;">{% csrf_token %}
				    <div style="display: inline;">
				        <select name="language" onchange="javascript:form.submit()">
				            {% for lang in LANGUAGES %}
				                <option value="{{ lang.0 }}"{% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
				            {% endfor %}
				        </select>
				    </div>
				</form>
				</div>
				<!-- ================================================================================ -->
				<!-- FIN Formulario para cambiar idioma -->
				<!-- ================================================================================ -->
			</div>
		</div>
		<div class="wrapper">
			<div class="logo">
				<img src="{% static 'img/logopeq.png' %}" alt="logo de la empresa, Global Supply">
			</div>				
			<nav class="barraNavegacion">
				<ul>
					<li class="index"><a href="{% url 'homepageindex' %}">{% trans 'Inicio' %}</a></li>
					<span>/</span>
					<li class="works"><a href="{% url 'homepageabout' %}">{% trans 'Quiénes Somos' %}</a></li>
					<span>/</span>
					<li class="services"><a href="{% url 'categoria' %}">{% trans 'Productos' %}</a></li>
					<span>/</span>
					<li class="blog"><a href="/blog">Blog</a></li>
					<span>/</span>
					<li class="contact"><a href="{% url 'homepagecontact' %}">{% trans 'Contacto' %}</a></li>
				</ul>
				<select> 
					<option value="" selected="selected">{% trans 'Menú' %}</option> 
					<option value="{% url 'homepageindex' %}">{% trans 'Inicio' %}</option> 
					<option value="{% url 'homepageabout' %}">{% trans 'Quiénes Somos' %}</option>
					<option value="{% url 'categoria' %}">{% trans 'Productos' %}</option>
					<option value="/blog">Blog</option>
					<option value="{% url 'homepagecontact' %}">{% trans 'Contacto' %}</option>
				</select>
			</nav>
		</div>
	</header>
	<section class="contenido">
	{% block contenido %}{% endblock%}
	</section>
	{% block clear %} {% endblock %}
	<footer>
		{% block footer %}{% endblock%}
		<div class="wrapperFooter">
			<div class="navFooter">
				<ul>
					<li class="index"><a href="{% url 'homepageindex' %}">{% trans 'Inicio' %}</a></li>
					<span>/</span>
					<li class="works"><a href="{% url 'homepageabout' %}">{% trans 'Quiénes Somos' %}</a></li>
					<span>/</span>
					<li class="services"><a href="{% url 'categoria' %}">{% trans 'Productos' %}</a></li>
					<span>/</span>
					<li class="blog"><a href="/blog">Blog</a></li>
					<span>/</span>
					<li class="contact"><a href="{% url 'homepagecontact' %}">{% trans 'Contacto' %}</a></li>
				</ul>
			</div>	
			<div class="footer-der">
				<div class="mediosContactoFooter">
					<div class="porTelefono">(305) 848-6244 | (786) 664-5321</div>
					<div class="porCorreo">info@globalsupplyexport.com</div>
				</div>
			</div>
			<div class="footer-mid">
				<img src="{% static 'img/logoblancopeq.png' %}" alt="Logo empresa footer en blanco">
			</div>
			<div class="footer-izq">
				<div class="redesContacto">
					<a href="https://twitter.com/*" rel="nofollow"><div class="twitterlogoFooter"></div></a>
					<a href="https://www.facebook.com/globalsupplyexport" rel="nofollow"><div class="facebookFooter"></div></a>
					<a href="http://instagram.com/*" rel="nofollow"><div class="skypeFooter"></div></a>
					<a href="https://plus.google.com/114242158821437415395/" rel="nofollow"><div class="googleplusFooter"></div></a>
				</div>
			</div>
			<div class="footer-abajo">
				<div class="copyRight">Global Supply © Copyright 2014. Todos los derechos reservados. Developed by: <a href="http://duranjo.com/" rel="nofollow"><img src="http://duranjo.com/static/img/duranjowhite.png" alt="Logo empresa duranjo"></a>
				</div>
			</div>	
		</div>
	</footer>
	<script>
	$("nav select").change(function() {
	    window.location = $(this).find("option:selected").val();
	});    
	</script>
</body>
</html>